In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ['a','b','c']

In [6]:
my_list = [10,20,30]
arr = np.array([10,20,30])
d={'a':10,'b':20,'c':30}

In [7]:
pd.Series(data=my_list, index=labels)

a    10
b    20
c    30
dtype: int64

In [8]:
series = pd.Series(data=my_list, index=labels)

In [9]:
series['b']

20

In [10]:
pd.Series(arr, index=labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(my_list, labels)

a    10
b    20
c    30
dtype: int64

In [12]:
C

In [16]:
ser1 = pd.Series([1,2,3,4], index=['EUA','Alemanha','URSS','Japão'])

In [17]:
ser1

EUA         1
Alemanha    2
URSS        3
Japão       4
dtype: int64

In [21]:
ser2 = pd.Series([1,2,3,4], index=['Alemanha','EUA','Itália','Japão'])

In [22]:
ser2

Alemanha    1
EUA         2
Itália      3
Japão       4
dtype: int64

In [23]:
ser1 + ser2

Alemanha    3.0
EUA         3.0
Itália      NaN
Japão       8.0
URSS        NaN
dtype: float64